body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #474747;
}

.map-container {
    position: relative;
}

.map-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
