body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}




.atm {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* usar unidades realivas y flexibles
por ejemplo vw ,vh ,% */



/* pantalla */
.screen {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}


.keypad {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



/* colores de los nuemeros */
.btn {
    width: 60px;
    height: 60px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* color de la animacion de los nros */
.btn:hover {
    background-color: #777;
}
/* Teclas (animacion,colores etc)
ENTER CANCEL ENTER */


.btn.special-clear {
    background-color: #f31212;
}
.btn.special-cancel {
    background-color: #f3d112;
}
.btn.special-enter {
    background-color: #37f312;
}

/* __________________________ */

.btn.special-clear:hover {
    background-color: #940a0aab;
}
.btn.special-cancel:hover {
    background-color: #9c8816a8;
}
.btn.special-enter:hover {
    background-color: #25940f98; 
}
