
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display: flex; */
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.light-theme{
    transition: 1s;
    background-color: #f0f0f0;
    color:#1d1d1d;
}

body.dark-theme{
    transition: 1s;
    background-color: #1d1d1d;
    color:#1d1d1d;
}


.atm {
    width: 350px;
    background-color: #272727;
    border-radius: 10px;
    padding: 31px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.616);
}
/* usar unidades realivas y flexibles
por ejemplo vw ,vh ,% */



/* pantalla */
.screen {
    background-color: #fff8f8;
    border-radius: 5px;
    padding: 80px;
    margin-bottom: 15%;
    text-align: center;
    font-size: 1.2em;
}


.keypad {
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 4%;   
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



/* colores de los nuemeros */
.btn {
    width: 60px;
    height: 60px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* color de la animacion de los nros */
.btn:hover {
    background-color: #777;
}
/* Teclas (animacion,colores etc)
ENTER CANCEL ENTER */


.btn.special-clear {
    background-color: #f31212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 115%;
}
.btn.special-cancel {
    background-color: #f3d112;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 115%;
}
.btn.special-enter {
    background-color: #37f312;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 115%;
}

/* __________________________ */

.btn.special-clear:hover {
    background-color: #940a0aab;
}
.btn.special-cancel:hover {
    background-color: #9c8816a8;
}
.btn.special-enter:hover {
    background-color: #25940f98; 
}


/* boton para cambiar tema */
.barradebotones{
    padding: 30px;
}
/* anomaciones & estilos*/
.switch {
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

input:checked + .slider {
    background-color: var(--track_active_color);
}

input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
}
  /* Raise thumb when hovered */
input:hover + .slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}



